body {
  position: relative;
  background-color: rgb(144, 190, 186);
}

.main {
  margin: 0 auto;
  width: 920px;
  height: 100%;
  border: 1px solid grey;
  border-radius: 130px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.list .list-item {
  min-width: 500px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
}
.list .list-item .date {
  width: auto;
  height: 100%;
  font-size: 20px;
  padding: 0 0 0 20px;
}
.list .list-item .item {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
}
.list .list-item button {
  margin: 10px;
  padding: 5px;
}
.list .list-item .delete {
  background-color: red;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.list .list-item .delete:hover {
  background-color: rgb(124, 8, 8);
  color: #fff;
}
.list .list-item .complete {
  background-color: green;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.list .list-item .complete:hover {
  background-color: greenyellow;
  color: #fff;
}
.list .list-item .active {
  background-color: greenyellow;
  color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 15px;
}
.input-container input {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2392156863);
  color: rgba(0, 0, 0, 0.7411764706);
  transition: box-shadow 0.3s ease;
}
.input-container input:hover {
  box-shadow: 1px 1px 10px #808080;
}
.input-container #clear {
  background-color: rgba(255, 0, 0, 0.211);
  color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.input-container #clear:hover {
  transform: translateY(-2px);
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgb(255, 8, 49);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}
.input-container button {
  margin-top: 15px;
  border: #ccc 1px solid;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.input-container button:hover {
  box-shadow: 1px 1px 10px #808080;
  background-color: #ccc;
  transform: translateY(-2px);
}

.completed {
  text-decoration: line-through;
  color: rgb(6, 201, 6);
}

.expired {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fbfbfb url("//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif") no-repeat center center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/*# sourceMappingURL=main.css.map */
